form {
    margin-right:10% ;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(5, 5, 5, 0.712);
    color: white;
    border-radius: 25px;
    div{
        margin:25px;
    }
}

