.jumbo {
    background-image: url("../img/bg_jumbo.svg");
    background-position: fixed;
    margin: 0;


    .bg_text {
        color: white;
        width: fit-content;
        background-color: rgba(13, 22, 51, 0.712);
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        // padding: 5px 20px;
        text-align: center;
        p {
            font-weight: bolder;
        }

        h1 {
            text-transform: uppercase;
        }
    }
}