@import 'nav';
@import 'footer';
@import 'jumbo';
@import 'carte';
@import 'form';
@import 'parallax';
@import 'carousel';
@import 'restaurant';
@import 'pagination';

body {
    font-family: 'Montserrat', sans-serif;

    .sec_txt {
        padding: 40px;
        z-index: 1;
        font-size: 120%;
        line-height: 40px;

        h2 {
            margin-bottom: 30px;
            font-weight: 700;
        }
    }
}

