nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li .active {
  background-color: #4CAF50;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(41, 57, 99, 0.993)), to(rgba(4, 9, 27, 0.993)));
  background: linear-gradient(to top, rgba(41, 57, 99, 0.993), rgba(4, 9, 27, 0.993));
  color: white;
  -webkit-box-shadow: 0px 1px 2px black;
          box-shadow: 0px 1px 2px black;
  padding-top: 30px;
}

footer strong {
  font-weight: normal;
  text-decoration: underline;
}

footer ul {
  list-style: none;
  padding-bottom: 3%;
  margin: auto;
}

footer ul li a {
  width: 40px;
}

footer ul li a .fa {
  color: white;
}

footer aside {
  padding-bottom: 1%;
}

footer aside iframe {
  border: 1px solid black;
}

.jumbo {
  background-image: url("../img/bg_jumbo.svg");
  background-position: fixed;
  margin: 0;
}

.jumbo .bg_text {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(13, 22, 51, 0.712);
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 5px 20px;
  text-align: center;
}

.jumbo .bg_text p {
  font-weight: bolder;
}

.jumbo .bg_text h1 {
  text-transform: uppercase;
}

h2, h3 {
  text-align: center;
}

section h2 {
  text-align: center;
  font-size: 300%;
}

section ul {
  -webkit-box-shadow: 0px 10px 20px 5px rgba(27, 12, 83, 0.438);
          box-shadow: 0px 10px 20px 5px rgba(27, 12, 83, 0.438);
}

section .list {
  background-color: rgba(13, 22, 51, 0.712);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  color: white;
}

section span {
  float: right;
}

form {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(5, 5, 5, 0.712);
  color: white;
  border-radius: 25px;
}

form div {
  margin: 25px;
}

#chi {
  background: url("../img/2230.jpg") center 0 no-repeat fixed;
  background-size: cover;
}

#mexi {
  background: url("../img/1523.jpg") center 0 no-repeat fixed;
  background-size: cover;
}

.parallax {
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-perspective: 3px;
          perspective: 3px;
  color: white;
  background-color: var(--bg, --color-black);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#car .carousel-inner > .item > img {
  min-height: 300px;
  max-height: 300px;
  width: 100%;
}

.bg_resto .time {
  background-color: rgba(5, 5, 5, 0.712);
  color: white;
  border-radius: 25px;
}

.bg_resto h2 {
  font-weight: bold;
  font-size: 300%;
}

.bg_resto h3 {
  font-weight: bold;
}

.bg_resto strong {
  font-weight: bold;
}

#pagination {
  background-color: rgba(4, 9, 27, 0.993) !important;
}

#pagination ul {
  background-color: rgba(4, 9, 27, 0.993);
  -webkit-box-shadow: 0px 5px 5px rgba(4, 9, 27, 0.993);
          box-shadow: 0px 5px 5px rgba(4, 9, 27, 0.993);
}

#pagination ul li {
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem;
}

#pagination ul li a {
  background-color: rgba(0, 0, 0, 0.503);
  border-color: rgba(0, 0, 0, 0.503);
  color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: 'Montserrat', sans-serif;
}

body .sec_txt {
  z-index: 1;
  font-size: 120%;
  line-height: 40px;
}

body .sec_txt h2 {
  margin-bottom: 30px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */